services:
  db:
    image: postgres:18
    container_name: postgres
    restart: always
    shm_size: 128mb
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    env_file:
      - ./.env
    ports:
      - "5433:5432"
    volumes:
      - psql_data:/var/lib/postgresql/18/data
    networks:
      - app_network
  redis:
    image: redis:8.2.2-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command:
      - redis-server
      - --appendonly
      - "yes"
      - --requirepass
      - ${REDIS_PASSWORD}
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - app_network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: fastapi
    volumes:
      - ./backend:/app
    env_file:
      - .env
    environment:
      - DEBUG=1
      - PYTHONUNBUFFERED=1
    networks:
      - app_network
    depends_on:
      - db
      - redis

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
    networks:
      - app_network

volumes:
  psql_data:
  redis_data:

networks:
  app_network:
    driver: bridge