services:
  db:
    image: postgres:18
    container_name: postgres
    restart: always
    shm_size: 128mb
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - TZ=Asia/Ho_Chi_Minh
    env_file:
      - ./.env
    ports:
      - "5433:5432"
    volumes:
      - psql_data:/var/lib/postgresql/18/data
    networks:
      - app_network

volumes:
  psql_data:

networks:
  app_network:
    driver: bridge